{% extends "layout.html.twig" %}

  {% block scripts %}
      {{ parent() }}
      <script src="/Resources/Public/Js/automaticPlaylistBackup.js"></script>
  {% endblock %}

{% block content %}
    <h1>Automatic Playlist Backup</h1>
    <div class="alert alert-warning">
        <strong>Tutorial for naming</strong>
        <p>
            You can enter a scheme for the playlist name with some placeholders that will be filled in automatically
            with the current date.<br/>
            Placeholders are:
        <dl>
            <dt>%y</dt>
            <dd>Year</dd>
            <dt>%m</dt>
            <dd>Month</dd>
            <dt>%d</dt>
            <dd>Day</dd>
            <dt>%w</dt>
            <dd>Calendar week</dd>
        </dl>
        Here are some examples (if the backup date is the 21.05.2021)
        <table class="table table-striped table-responsive">
            <tr>
                <td>Discover Weekly %y</td>
                <td>Discover Weekly 2021</td>
            </tr>
            <tr>
                <td>Discover Weekly %y %m</td>
                <td>Discover Weekly 2021 05</td>
            </tr>
            <tr>
                <td>Discover Weekly %d.%m.%y</td>
                <td>Discover Weekly 21.05.2021</td>
            </tr>
            <tr>
                <td>Discover Weekly KW %w</td>
                <td>Discover Weekly KW 20</td>
            </tr>
            <tr>
                <td>Discover Weekly %y KW %w</td>
                <td>Discover Weekly 2021 KW 20</td>
            </tr>
        </table>
        </p>
    </div>
    <form method="post" action="?action={{ action }}" data-id="edit-playlist-form">
        <button type="submit" class="btn btn-primary">Save</button>
        <br/> <br/>
        <table class="table table-striped table-responsive">
            <tr>
                <th>Playlist</th>
                <th>Backup Dates</th>
                <th>Backup Time</th>
                <th>Name</th>
                <th>Last Backup</th>
            </tr>
            {% for playlistContainer in playlistContainers %}
                {% set spotifyPlaylist = playlistContainer.spotifyPlaylist %}
                {% set databasePlaylist = playlistContainer.databasePlaylist %}
                <tr>
                    <td>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="hidden"
                                       name="playlists[{{ spotifyPlaylist.id }}][playlist-id]"
                                       value="{{ spotifyPlaylist.id }}">
                                <input type="checkbox" name="playlists[{{ spotifyPlaylist.id }}][active]"
                                       class="form-check-input"
                                       id="{{ spotifyPlaylist.id }}" value="1"
                                       data-id="playlist-checkbox"
                                       data-value="{{ spotifyPlaylist.id }}"
                                       {% if databasePlaylist %}checked="checked"{% endif %}
                                >
                                <label for="{{ spotifyPlaylist.id }}" class="form-check-label">
                                    {{ spotifyPlaylist.name }}
                                </label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group"
                             data-id="playlist-backupDates"
                             data-value="{{ spotifyPlaylist.id }}"
                             {% if not databasePlaylist %}style="display: none;"{% endif %}
                        >
                            {% for key, value in backupDates %}
                                <div class="form-check ">
                                    <input type="checkbox"
                                           name="playlists[{{ spotifyPlaylist.id }}][backupDates][{{ key }}]"
                                           class="form-check-input" id="{{ spotifyPlaylist.id }}-backupDate-{{ key }}"
                                            {% if databasePlaylist and attribute(databasePlaylist, key) %}
                                                checked="checked"
                                            {% endif %}
                                           value="1">
                                    <label for="{{ spotifyPlaylist.id }}-backupDate-{{ key }}" class="form-check-label">
                                        {{ value }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <div class="form-group list-group-horizontal"
                             data-id="playlist-backupTime"
                             data-value="{{ spotifyPlaylist.id }}"
                             {% if not databasePlaylist %}style="visibility: hidden;"{% endif %}>
                            <input type="time" placeholder=""
                                   name="playlists[{{ spotifyPlaylist.id }}][backupTime]"
                                   value="{% if databasePlaylist %}{{ databasePlaylist.backup_time }}{% endif %}"
                                   {% if databasePlaylist %}required="required"{% endif %}
                                   class="form-control" id="{{ spotifyPlaylist.id }}-backupTime">

                        </div>
                    </td>
                    <td>
                        <div class="form-group list-group-horizontal"
                             data-id="playlist-backupNameScheme"
                             data-value="{{ spotifyPlaylist.id }}"
                             {% if not databasePlaylist %}style="visibility: hidden;"{% endif %}>
                            <input type="text" placeholder=""
                                   name="playlists[{{ spotifyPlaylist.id }}][backupNameScheme]"
                                   value="{% if databasePlaylist %}{{ databasePlaylist.backup_name_scheme }}{% else %}{{ spotifyPlaylist.name }} %y KW %w{% endif %}"
                                   {% if databasePlaylist %}required="required"{% endif %}
                                   class="form-control" id="{{ spotifyPlaylist.id }}-backupNameScheme">
                        </div>
                    </td>
                    <td>
                        {% if databasePlaylist and databasePlaylist.last_backup %}
                            {{ databasePlaylist.last_backup|date("d.m.Y H:i") }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}