{% extends "layout.html.twig" %}

{% block content %}
    <h2>Select Playlist</h2>
    <form method="get">
        <input type="hidden" name="action" value="{{ action }}" />
        <div class="form-group mb-2">
            {% include 'PlaylistSelect.html' with {'playlists': playlists} %}
        </div>

        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
{% endblock %}