{% extends "layout.html.twig" %}

  {% block scripts %}
      {{ parent() }}
      <script src="/Resources/Public/Js/automaticPlaylistsIntoPlaylistImporter.js"></script>
  {% endblock %}

{% block content %}
    <h1>{{ spotifyPlaylist.name }}</h1>
    <h2>Select Playlists to import automatically</h2>
    <form method="post" action="?action={{ action }}" data-id="edit-playlist-form">
        <input type="hidden" name="playlist-id" value="{{ spotifyPlaylist.id }}"/>
        <br />
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="delete-tracks-if-not-in-import-playlists"
                   name="delete-tracks-if-not-in-import-playlists"
                   {% if databasePlaylist.delete_tracks_if_not_in_import_playlists %}checked="checked"{% endif %}
                   value="1" />
            <label class="form-check-label" for="delete-tracks-if-not-in-import-playlists">
                Delete tracks which are not in the playlists selected below
                <div class="alert alert-warning">
                    Only use this if you really want this playlist to be exclusively created from the playlists selected below!!
                    Tracks added manually to this playlist without them being in one of the playlists below will be deleted
                </div>
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <br />  <br />
        <table class="table table-striped table-responsive">
            <tr>
                <th>Playlist</th>
                <th>Import Dates</th>
                <th>Import Time</th>
                <th>Last Import</th>
            </tr>
            {% for playlistContainer in playlistContainers %}
                {% set spotifyPlaylist = playlistContainer.spotifyPlaylist %}
                {% set databaseImportPlaylist = playlistContainer.databaseImportPlaylist %}
                <tr>
                    <td>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="hidden"
                                       name="importPlaylists[{{ spotifyPlaylist.id }}][playlist-id]"
                                       value="{{ spotifyPlaylist.id }}">
                                <input type="checkbox" name="importPlaylists[{{ spotifyPlaylist.id }}][active]"
                                       class="form-check-input"
                                       id="{{ spotifyPlaylist.id }}" value="1"
                                       data-id="playlist-checkbox"
                                       data-value="{{ spotifyPlaylist.id }}"
                                       {% if databaseImportPlaylist %}checked="checked"{% endif %}
                                >
                                <label for="{{ spotifyPlaylist.id }}" class="form-check-label">
                                    {{ spotifyPlaylist.name }}
                                </label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group"
                             data-id="playlist-importDates"
                             data-value="{{ spotifyPlaylist.id }}"
                             {% if not databaseImportPlaylist %}style="visibility: hidden;"{% endif %}
                        >
                            {% for key, value in importDates %}
                                <div class="form-check btn-group-vertical">
                                    <input type="checkbox"
                                           name="importPlaylists[{{ spotifyPlaylist.id }}][importDates][{{ key }}]"
                                           class="form-check-input" id="{{ spotifyPlaylist.id }}-importDate-{{ key }}"
                                            {% if databaseImportPlaylist and attribute(databaseImportPlaylist, key) %}
                                                checked="checked"
                                            {% endif %}
                                           value="1">
                                    <label for="{{ spotifyPlaylist.id }}-importDate-{{ key }}" class="form-check-label">
                                        {{ value }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <div class="form-group list-group-horizontal"
                             data-id="playlist-importTime"
                             data-value="{{ spotifyPlaylist.id }}"
                             {% if not databaseImportPlaylist %}style="visibility: hidden;"{% endif %}>
                            <input type="time" placeholder="Time"
                                   name="importPlaylists[{{spotifyPlaylist.id }}][importTime]"
                                   value="{% if databaseImportPlaylist %}{{ databaseImportPlaylist.import_time }}{% endif %}"
                                    {% if databaseImportPlaylist %}required="required"{% endif %}
                                   class="form-control" id="{{spotifyPlaylist.id }}-importTime">

                        </div>
                    </td>
                    <td>
                        {% if databaseImportPlaylist and databaseImportPlaylist.last_import %}
                            {{ databaseImportPlaylist.last_import|date("d.m.Y H:i") }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}