{% extends "layout.html.twig" %}

{% block content %}
    <h2>Search for Artist</h2>
    <form method="get">
        <input type="hidden" name="action" value="{{ action }}" />
        <div class="form-group">
            <input type="text" name="artist"
                   class="form-control mb-2" placeholder="Artist" required="required" />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
{% endblock %}