{% extends "layout.html.twig" %}

{% block content %}
    <h2>Finished</h2>
    <div class="alert alert-success">
        {% if newPlaylistName %}
            Your new playlist "{{ newPlaylistName }}" has been created and all songs of this artist should have been added
        {% else %}
            All songs of this artist should be added to your playlist
        {% endif %}
    </div>
{% endblock %}