{% extends "layout.html.twig" %}

{% block content %}
    <h2>History</h2>

    <table class="table" style="width: 100%;">
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                Artists
            </th>
            <th>
                Date
            </th>
        </tr>
    {% for h in history %}
        <tr>
            <td>
                <a href="{{ h.uri }}" target="_blank">
                    <img src="{{ h.image  }}" loading="lazy" target="_blank" />
                </a>
            </td>
            <td><a href="{{ h.uri }}" target="_blank">{{ h.name }}</a></td>
            <td>
                {% for artist in h.artists %}
                    <a href="{{ artist.external_urls.spotify }}" target="_blank">
                        {{ artist.name }}
                    </a>
                    {% if not loop.last %},{% endif %}
                {% endfor %}
            </td>
            <td>{{ h.timestamp|date("d.m.Y H:i") }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}