{% extends "layout.html.twig" %}

{% block content %}
    <h2>Select Playlists</h2>
    <form method="post" action="?action={{ action }}">
        <h3>Playlist 1</h3>
        <div class="form-group mb-2">
            {% include 'PlaylistSelect.html' with {'playlists': playlists, "name": "playlist-select-1"} %}
            or enter the Playlist ID
            <input name="playlist-input-1" class="form-control col-md-4" />
        </div>
        <br />

        <h3>Playlist 2</h3>
        <div class="form-group mb-2">
            {% include 'PlaylistSelect.html' with {'playlists': playlists, "name": "playlist-select-2"} %}
            or enter the Playlist ID
            <input name="playlist-input-2" class="form-control col-md-4" />
        </div>
        <br />
        <h3>New playlist name</h3>
        <div class="form-group mb-2">
            <input name="new-playlist-name" class="form-control col-md-4" required />
        </div>
        <br />
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
{% endblock %}