{% extends "layout.html.twig" %}

{% block content %}
    {% if success %}
        <h2>Finished</h2>
        <div class="alert alert-success">Your new playlist "{{ newPlaylistName }}" has been created.</div>
    {% else %}
        <h2>Error</h2>
        <div class="alert alert-warning">Playlist was not created. Maybe there are no duplicate songs, or there was an error</div>
    {% endif %}
{% endblock  %}