{% extends "layout.html.twig" %}

{% block content %}
    <h2>Top Tracks{% if selectedTimeRange %} - {{ timeRanges[selectedTimeRange] }}{% endif %}</h2>
    <br/>
    <div>
        <strong>Select time range:</strong>
        {% for key,value in timeRanges %}
            <a href="?action={{ action }}&time_range={{ key }}" class="btn btn-primary">{{ value }}</a>
        {% endfor %}
    </div>
    {% if tops %}
        <br/>
        <br/>
        <h4>Save Top Tracks to Playlist</h4>
        <form action="?action={{ saveAction }}" method="post">
            <input type="hidden" name="time_range" value="{{ selectedTimeRange }}" />
            <div class="form-group mb-2">
                <input type="text" name="playlist_name" class="form-control" placeholder="New Playlist Name" />
            </div>
            <br />

            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
        <br />
        <br />
        <div>
            <table class="table" style="width: 100%;">
                <tr>
                    <th>
                        Rank
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Artists
                    </th>
                </tr>
                {% for track in tops.items %}
                    <tr>
                        <td>
                            {{ loop.index }}
                        </td>
                        <td>
                            {% if track.album.images.2 %}
                                <a href="{{ track.external_urls.spotify }}" target="_blank">
                                    <img src="{{ track.album.images.2.url  }}" loading="lazy" />
                                </a>
                            {% endif %}
                        </td>
                        <td>
                           <a href="{{ track.external_urls.spotify }}" target="_blank">
                               {{ track.name }}
                           </a>
                        </td>
                        <td>
                            {% for artist in track.artists %}
                            <a href="{{ artist.external_urls.spotify }}" target="_blank">
                                {{ artist.name }}
                            </a>
                            {% if not loop.last %},{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}